.User-items {
    font-weight: 600;
    font-size: 1.5vw;
    color: black;
}

.User-title {
    font-weight: 800;
    font-size: 2vw;
    margin-bottom: 0;
    color: black;
}

.User-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-evenly;
    height: 100vh;
    background-color: floralwhite;
    width: 15vw;
    padding: 0 1vw;
}

hr {
    width: 100%;
    height: 0.1vw;
    color: #282c34;
}