.square {
    width: 8vw;
    height: 8vw;
    background-color: #6b6c6e;
    border-radius: 15px;
    font-size: 2vw;
    color: floralwhite;
}

.squareSmall {
    width: 8vw;
    height: 8vw;
}

.squareMedium {
    width: 4vw;
    height: 4vw;
}

.squareLarge {
    width: 4vw;
    height: 4vw;
}